<?xml version='1.0' encoding='utf-8'?>
<widget id="com.phonegap.helloworld" version="1.0.0" xmlns="http://www.w3.org/ns/widgets" xmlns:gap="http://phonegap.com/ns/1.0">
    <name>VU Bingo</name>
    <description>
        Test Bingo App
    </description>
    <author email="support@phonegap.com" href="http://phonegap.com">
        Ananthakrishnan Baji
    </author>
    <content src="index.html" />
    <access origin="*" />
</widget>
